# Simple environment details for PostgreSQL & HedgeDoc
# Use complex passwords and alternative account/db names from defaults.

# -----------------------------
# PostgreSQL Configuration
# -----------------------------
POSTGRES_USER=hedgedoc
POSTGRES_PASSWORD=password
POSTGRES_DB=hedgedoc

# -----------------------------
# HedgeDoc Configuration
# -----------------------------
CMD_DB_URL=postgres://hedgedoc:password@database:5432/hedgedoc
CMD_DOMAIN=localhost
CMD_URL_ADDPORT=true