# postgres variables
POSTGRES_USER=hedgedoc
POSTGRES_PASSWORD=password
POSTGRES_DB=hedgedoc

# hedgedoc variables
CMD_DB_URL=postgres://hedgedoc:password@database:5432/hedgedoc
CMD_DOMAIN=localhost
CMD_URL_ADDPORT=true