# Libation environment variables

# Container path for downloaded books
LIBATION_BOOKS_DIR=/data

# Container path for configuration settings
LIBATION_CONFIG_DIR=/config

# Container path for database file
LIBATION_DB_DIR=/db

# Create a database file if none are found/provided
LIBATION_CREATE_DB=true

# Interval to check for new books
SLEEP_TIME=720m
