# linkding environment template for compose.

# Configure the initial superuser
LD_SUPERUSER_NAME=<ADD_USERNAME>

# Configure superuser password
LD_SUPERUSER_PASSWORD=<ADD_PASSWORD>

# Configure a port. Default is 9090
LD_SERVER_PORT=<ADD_PORT>